.App {
  padding: 24px 24px 24px 24px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  display: flex;
  height: 48px;
  margin-bottom: 16px;
  text-align: center;
}

.id-container, .task-name-container { 
  align-items: center;
  justify-content: center;
  display: flex;
}


.id-container {
  width:  48px;
  height: 48px; 
  border: 1px solid;
  border-radius: 10px;
}

.task-name-container {
  width: 640px;
  height: 48px;
  margin-left: 10px;
  border: 1px solid;
  border-radius: 10px;
}

.text{
   vertical-align: middle;
}

.delete-button {
  margin-left: 16px;
  width:  48px;
  height: 48px; 
  display: flex;
  border-color: crimson;
  border-radius: 10px;
}

.delete-button-icon{
  padding-top: 5px ;
  width: 30px;
  height: 30px;

}
.new-task-container{
  margin-top: 50px;
  display: flex;
  width: 770px;
  height: 67px;
}


.new-task-name {
  width: 638px;
  height: 54px;
  text-align: left;
  border: 1px solid;
  border-radius: 10px;
}

.new-task-button {
  margin-left: 10px;
  align-items: center;
  justify-content: center;
  width:  114px;
  height: 48px; 
  border: 1px solid;
  border-radius: 10px;
  background-color: #6200EE;
  font-size: 16px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
